.create-room-form{
    width: 40%;
    background:rgba(255, 255, 255, 0.1);
   
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;

    padding: 20px;
    margin: auto;
    
}

.create-room-form-control{
    margin-top: 10px;
}

.create-room-textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.create-room-input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.create-room-text{
    color: rgb(255, 255, 255);
}

.create-room-select{
    position: relative;

}

.create-room-select-custom {
    width: 100%;
    font-size: 100%;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ccc;
    
    padding: 12px 20px;
    padding-right: 38px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
  }