/* Book Activity */
.book-activity-list-box{
    color: black;
    background-color: aquamarine;
    padding: 20px;
}

.book-activity-list-box h1{
    display: inline-block;
}

.information{
    background-color: rgb(240, 248, 255);
    display: grid;
    grid-template-columns: auto auto;
}

/* Book Activity Form */

.form-box h1{
    color: black;
}

.book-activity-input-box{
    display: flex;
    flex-direction: column;
    width: 100vh;
    background-color:aquamarine ;
    padding: 5%;
    border-radius: 10px;
}

.book-activity-input-box label{
    color: black;
}

.book-activity-input-box form a,
.book-activity-input-box form button{
    margin-top: 2%;
}

.book-activity-input-box form button{
    margin-left: 5%;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
}

.book-activity-input{
    margin-bottom: 10px;
}

.book-activity-input input,
.book-activity-input select{
    border: 0;
    border-radius: 10px;
    font-size: 2vh;
    padding: 10px;
}

.activity-button{
    width: auto;
    background-color:deepskyblue;
    color: black;
    padding: 10px;
    display: inline-block;
    font-size: 2vh;
    border-radius: 10px;
}

.updatePopup{
    position: fixed;
    justify-self: center;
    align-self: center;
    margin-top: 20vh;
    top: 0;
    border: 2px solid black;
    z-index: 999;
}

.updatePopup-icon{
    position: absolute;
    top: 2%;
    right: 5%;
}