/* Book Activity */
.book-activity-list-box{
    color: black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.815);
    padding: 20px;
    width: 95%;
    height: 90%;
    overflow: auto;
}

.book-activity-list-box h1{
    display: inline-block;
}

.card {
    display: grid;
    width: 100%;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    grid-template-columns: 25% 25% 25% 25%;
}

.information{
    background-color: #f3f3f3;
    margin-top: 1%;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: grid;
    row-gap: 10px;
    grid-template-columns: auto;
    border-radius: 20px;
}

.information img{
    border-radius: 10px;
    margin: auto;
    width: 150px;
}

.information div label{
    font-weight: bold;
}

.information .button{
    display: flex;
    justify-content: center;
    width: 100%;
}

.information .submit-button,
.information .delete-button{
    border: 0;
    font-size: 2vh;
    background-color: #0015ff;
    color: white;
    border-radius: 10px;
    justify-self: center;
    width: 35%;
    padding: 10px;
    transition: .5s;
}

.information .submit-button:hover{
    cursor: pointer;
    background-color: #4a5aff;
}

.information .delete-button{
    margin-left: 5%;
    background-color: rgb(255, 0, 0)
}

.delete-button:hover{
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.655);
}

.activity-button{
    width: auto;
    background-color:#2c3efe;   
    color: white;
    padding: 10px;
    font-size: 2vh;
    border-radius: 10px;
    transition: .5s;
    float: right;
}

.activity-button:hover{
    cursor: pointer;
    background-color: #4a59ffd0;
}

/* Book Activity Create Form */
.form-box h1{
    color: black;
}

.book-activity-input-box{
    display: flex;
    flex-direction: column;
    width: 100vh;
    background-color:aquamarine ;
    padding: 5%;
    border-radius: 10px;
}

.book-activity-input-box label{
    color: black;
}

.book-activity-input-box form a,
.book-activity-input-box form button{
    margin-top: 2%;
}

.book-activity-input-box form button{
    margin-left: 5%;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
}

.book-activity-input{
    margin-bottom: 10px;
}

.book-activity-input input,
.book-activity-input select{
    border: 0;
    border-radius: 10px;
    font-size: 2vh;
    padding: 10px;
}

.button{
    width: 100%;
    display: flex;
}

/* Book Activity Update */
.updatePopup{
    position: fixed;
    justify-self: center;
    right: 25%;
    margin-top: 20vh;
    top: 0;
    border: 2px solid black;
    z-index: 999;
}

.updatePopup-icon{
    position: absolute;
    top: 2%;
    right: 5%;
}