
.register-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130vh;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
}

.input-box select{
    height: 100%;
    width: max-content;
    border: none;
    outline: none;
    color: black;
    font-size: 100%;
    background-color: rgba(255, 255, 255, 0.331);
    padding: 2.5%;
    font-weight: bold;
}


.create-employee-text{
    color: rgb(255, 255, 255);
}

.create-employee-text-bold{
    margin-top: 10px;
    font-weight: bold;
}

.create-employee-select-box select{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    color: black;
    font-size: 100%;
    background-color: rgba(255, 255, 255, 0.331);
    padding: 3%;
    font-weight: bold;
    
}

