.planner-header {
}

.planner-request-button {
  display: inline-block;
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
  width: auto;
  background-color: #4f95e9;
  color: white;
  padding: 10px;
  font-size: 2vh;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(142, 135, 135);
}

.planner-textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.planner-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.planner-select {
  position: relative;
}

.planner-select-custom {
  width: 100%;
  font-size: 100%;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #ccc;

  appearance: none;
  padding: 12px 20px;
  padding-right: 38px;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: color 0.3s ease, background-color 0.3s ease,
    border-bottom-color 0.3s ease;
}

.planner-option {
}

.planner-show-header {
  display: inline-block;
}

.planner-input-file {
}

.planner-text-home {
  color: #4f5c6e;
  font-weight: bold;
  margin-top: 10px;
  padding: 0 20px;
}

.planner-table {
}

.planner-table-show {
  width: 100%;
  padding: 0 70px;
  background-color: #f2f3f5;
}

.planner-content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 1200px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  table-layout: fixed;
  width: 100%;
}

.planner-content-table thead tr {
  background-color: #eceef2;
  color: #000000;
  text-align: center;
  font-weight: bold;
  justify-content: center;
}

.planner-content-table th,
.planner-content-table td,
.planner-content-table table {
  padding: 1rem;
  word-wrap: break-word;
}

.planner-content-table table td:empty ::before {
  content: "Data not Available";
}

.planner-content-table td img {
  width: 80px;
  height: 80px;

  border-radius: 2%;
  vertical-align: middle;
}

.planner-content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.planner-content-table tbody td:nth-child(1),
.planner-content-table thead th:nth-child(1) {
  width: 70px;
}

.planner-content-table tbody tr:nth-of-type(even) {
  background-color: #f9fafc;
}

.planner-content-table tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.planner-content-table tbody tr:last-of-type {
}

.planner-content-table tbody td {
  text-align: center;
}

.planner-paging {
  display: flex;
  justify-content: center;
  align-self: center;
}

.planner-paging-backward {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  color: #000000;
  border-radius: 5px 5px 5px 5px;
  background-color: #ffffff;
}

.planner-current-page {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1rem;
  line-height: 1.75rem;
}

.planner-paging-forward {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  color: #000000;
  border-radius: 5px 5px 5px 5px;
  background-color: #ffffff;
}

.planner-update-button {
}

.planner-update-button-icon {
  position: absolute;
  right: 31%;
  top: 5%;
  z-index: 999;
}
.planner-cruise-bg {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: auto;
}
