.sidebar{
    height: 100vh;
    width: 10%;
    background-color: #89CFF3;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s;
    justify-content: space-between;
}

.sidebar .logo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 2% 0;
}

.sidebar .logo img {
    width: 50%;
    height: 100%;
    height: 100%;
}

.menu {
    width: 100%;
    height: 75vh;
}

.menu ul{
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu li{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8%;
}

.menu ul a{
    text-decoration: none;
    color: black;
    width: 100%;
    justify-content: space-between;
}

.menu li:hover, .menu .active{
    color: wheat;
    background-color: #435585;
}

.menu li:hover .icon, .menu .active .icon{
    color: wheat;
}

.menu ul label{
    display: none;
    transition: .5s;
    margin-left: 10%;
    font-size: 1vw;
}

.menu .icon{
    margin: 0px 8%;
    justify-content: start;
}


.sidebar .user{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar:hover{
    width: 15%;
}

.sidebar:hover label{
    display: flex;
}

.sidebar:hover .menu li{
    justify-content: start;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .sidebar{
        flex-direction: row;
        width: 100%;
        height: 10vh;
        align-items: center;
        transition: 0s;
    }
    .sidebar .logo{
        width: 20%;
        height: auto;
    }
    .menu{
        height: 10vh;
    }
    .menu ul{
        display: flex;
        flex-direction: row;
        justify-items: center;
        width: 80%;
        margin: 0 10%;
    }
    .menu ul li{
        flex-direction: column;
    }
    .menu ul label{
        justify-content: center;
        display: flex;
        margin-top: 10px;
    }
    .sidebar .user{
        width: 20%;
    }
    .menu li:hover{
        background-color: transparent;
        color: white;
    }
    .menu .active{
        color: black;
        background-color: transparent;
        border-bottom: 2px #435585 solid ;
    }
    
    .menu li:hover .icon, .menu .active .icon{
        color: white;
    }

    .sidebar:hover{
        width: 100%;
    }
    .sidebar:hover .menu li{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 700px){
    .menu ul label{
        display: none;
    }
    .sidebar:hover label{
        display: none;
    }
} 
