.room-request-button {
  display: block;
  float: right;
  margin-top: 15px ;
  margin-bottom: 15px ;
  width: auto;
  background-color:#4f95e9;
  color: white;
  padding: 10px;
  font-size: 2vh;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(142, 135, 135);
}

.room-show-header{
  display: inline-block;
}

.room-text-home { 
  color: #4f5c6e;
  font-weight: bold;
  margin-top:  10px;
  padding: 0 20px;
}

.room-table-show{
  width: 100%;
  padding: 0 70px;
  background-color: #f2f3f5;
}

/* .room-table{
  display: inline-block;
} */

.room-content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  max-width: 1300px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  table-layout: fixed;
  width: 100%;
}

.room-content-table thead tr {
  background-color: #eceef2;
  color: #000000;
  text-align: center;
  font-weight: bold;
  justify-content: center;
}

.room-content-table th,
.room-content-table td,
.room-content-table table{
  padding: 1rem;
  word-wrap: break-word;
}

.room-content-table table td:empty ::before{content: "Data not Available"}

.room-content-table td img{
  width: 80px;
  height: 80px;
  border-radius: 2%;
  vertical-align: middle;
}

.room-content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.room-content-table tbody td:nth-child(1),
.room-content-table thead th:nth-child(1) {
  width: 70px;
 
}

.room-content-table tbody tr:nth-of-type(even) {
  background-color: #f9fafc;
}

.room-content-table tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.room-content-table tbody td {
  text-align: center;
}

.room-paging {
  display: flex;
  justify-content: center;
  align-self: center;
  
}

.room-paging-backward {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  color: #000000;
  border-radius: 5px 5px 5px 5px;
  background-color: #ffffff;
}

.room-current-page {
    padding-left: 8px;
    padding-right: 8px;
  font-size: 1rem;
  line-height: 1.75rem;
  
}

.room-paging-forward {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  color: #000000;
  border-radius: 5px 5px 5px 5px;
  background-color: #ffffff;
}

.room-update-button-icon{
  position: absolute;
  right: 31%;
  top: 5%;
  z-index: 999;
}