.checkIn-header{
    color: #4f5c6e;
    font-weight: bold;
    margin-top:  10px;
    padding: 0 20px;
}

.checkIn-cruise-bg{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    overflow: auto;
}

.checkIn-search-button{
    top: 10px;
    left: 85%;
    width: 150px;
    height: 35px;
}

.checkIn-card {
    width: 60%;
    margin-top: 1%;
}

.checkIn-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkIn-check-in-button {
    width: 70%;
    height: 30%;
    margin: 5% 15%;
    justify-content: center;
    background-color: #142C74;
    border-color: #789abc;
    color: white;
    border-radius: 4px;
}

.checkIn-check-in-button:hover {
    background-color:#4f95e9;
    border-color: #4f95e9;
    color: white;
    cursor: pointer;
}

.superblue{
    border-radius: 2rem;
    background-color: #b4e3fb;
    color: #142C74;
}

.superred{
    border-radius: 2rem;
    background-color: #feacac;
    color: rgb(147, 9, 9);
}

.checkIn-date{
    justify-content: flex-start;
    margin: 20px;
    display: flex;
}

.checkIn-date-text{
    color: #4f5c6e;

}

.checkIn-search-button{
    width: 70px;
    height: 40px;
    border-radius: 4px;
    background-color:#000000;
    border-color: #4f5c6e;
    color: white;
}

.checkIn-search-button:hover{
    background-color:#ccc;
    border-color: lightgray;
    color: black;
    cursor: pointer;
}

.checkIn-search-input{
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    align-items: center;
    margin-left: 10%;
    width: 260px;
    height: 40px;
    border-radius: 4px;
    border-color: white;
}